* {
  margin: 0;
  padding: 0;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
  width: 90vw;
  height: 90vh;
  background-color: rgba(23, 35, 58, 0);
  backdrop-filter: blur(10px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(100, 148, 237, 0.267);
  display: flex;
}